.git
**/node_modules
**/.venv
share/
share-dev/
secrets/
**/secrets/**
**/certs/*.key
**/certs/*.pem
**/*.pfx
**/*.p12
.env
.env.*
!.env.example
models/model/
n8n_DATA/
onyx/
scraps/
docs/
cht/
runtime_logic/
*.log
